<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kaesaecracker.campusDual">

    <!-- CRASHALYTICS -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.kaesaecracker.campusDual.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.kaesaecracker.campusDual.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="me.kaesaecracker.campusDual.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.kaesaecracker.campusDual.MainActivity" />
        </activity>
        <activity
            android:name="me.kaesaecracker.campusDual.LoginActivity"
            android:label="@string/title_activity_login" />

        <!-- CRASHALYTICS -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1388771473233a0fa5fc88878d59498462f7e394" />

    </application>

</manifest>